* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Cuando sea oscuro background-color: ; */
    position: relative;
    padding-bottom: 8em;
    min-height: 100vh;
}

.dark {
    background-color: #ccd3be;
    color: #fff;
  }
  
  .light {
    background-color: #f5f5f5;
    /* color: white; */
  }